body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  #imagemlogo {
    position:absolute;
    top:10px;
    right: 100px;
    left: 50px;
  }
  
  nav {
    background-color: #f2f2f2;
    padding: 30px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  section {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex: 1; 
    padding: 20px;
  }

  .planos {
    color:dodgerblue;
  }

  .planosLista {
    font-size: 18px;
  }

  .preco {
    color:dimgrey;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
  }
  
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
    }
  }