body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  header {
    background-color: #000;
    color: #fff;
    padding: 0px;
    text-align: center;
  }
  
  nav {
    background-color: #f2f2f2;
    padding: 30px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  section {
    flex: 1; 
    padding: 20px;
  }

  section h3 {
    color: #000;
    font-family: 'Franklin Gothic Medium';
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    line-height: normal;
  }
  
  footer {
    background-color:#000;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
  }
  
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
    }
  }